@import "reset.css";
@import url('https://fonts.googleapis.com/css?family=Anonymous+Pro&display=swap');

* {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100vh;
  background: #000;
  font-family: 'Anonymous Pro';
  color: white;
  overflow: hidden;
  display: flex;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  height: 88vh;
  position: relative;
}

.wrapper2 {
  width: 100%;
}

.logo {
  position: absolute;
  width: 146px;
  height: 105px;
  left: 28px;
  top: 10px;
}


header {
  display: flex;
  justify-content: space-between;
  width: 100%;
}


header {
  padding-top: 50px;
}


.day {
  position: absolute;
  width: 144px;
  height: 36px;
  left: 1258px;
  top: 50px;
  font-family: Monotalic;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 36px;
}


.adress {
  position: absolute;
  width: 240px;
  height: 49px;
  left: 1230px;
  top: 10px;
  font-weight: 500;
  font-size: 25px;
  line-height: 49px;
}


/*STARS START*/
@-webkit-keyframes stars {
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0vmin, 0vmin, 1000vmin) scale(5);
    opacity: 0;
  }
}
html, body {
  width: 100%;
  height: 100%;
}

body {
  perspective: 200vmin;
  perspective-origin: 50% 50%;
  background: #000;
  overflow: hidden;
}
body span {
  width: .5vmin;
  height: .5vmin;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate3d(0vmin, 0vmin, -5000vmin) scale(5);
  opacity: 0;
}
body span:nth-of-type(1) {
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
  animation: stars 10s infinite linear;
}
body span:nth-of-type(2) {
  animation: stars 9s infinite linear 1s;
  box-shadow: 39vmin -40vmin 0 #fff , 30vmin -40vmin 0 #fff , -32vmin -33vmin 0 #fff , 49vmin -23vmin 0 #fff , -41vmin -20vmin 0 #fff , 34vmin -11vmin 0 #fff , -42vmin 10vmin 0 #fff;
}
body span:nth-of-type(3) {
  animation: stars 8s infinite linear 2s;
  box-shadow: -42vmin 5vmin 0 #fff , 16vmin -14vmin 0 #fff , 47vmin -41vmin 0 #fff , 17vmin 8vmin 0 #fff , 10vmin -15vmin 0 #fff , -46vmin -16vmin 0 #fff , 4vmin -21vmin 0 #fff , -20vmin 37vmin 0 #fff , -39vmin 32vmin 0 #fff , -7vmin 33vmin 0 #fff;
}
body span:nth-of-type(4) {
  animation: stars 7s infinite linear 3s;
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
}
body span:nth-of-type(5) {
  animation: stars 6s infinite linear 4s;
  box-shadow: 39vmin -40vmin 0 #fff , 30vmin -40vmin 0 #fff , -32vmin -33vmin 0 #fff , 49vmin -23vmin 0 #fff , -41vmin -20vmin 0 #fff , 34vmin -11vmin 0 #fff , -42vmin 10vmin 0 #fff;
}
body span:nth-of-type(6) {
  animation: stars 5s infinite linear 5s;
  box-shadow: -42vmin 5vmin 0 #fff , 16vmin -14vmin 0 #fff , 47vmin -41vmin 0 #fff , 17vmin 8vmin 0 #fff , 10vmin -15vmin 0 #fff , -46vmin -16vmin 0 #fff , 4vmin -21vmin 0 #fff , -20vmin 37vmin 0 #fff , -39vmin 32vmin 0 #fff , -7vmin 33vmin 0 #fff;
}
body span:nth-of-type(7) {
  animation: stars 4s infinite linear 6s;
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
}
body span:nth-of-type(8) {
  animation: stars 3s infinite linear 7s;
  box-shadow: -42vmin 5vmin 0 #fff , 16vmin -14vmin 0 #fff , 47vmin -41vmin 0 #fff , 17vmin 8vmin 0 #fff , 10vmin -15vmin 0 #fff , -46vmin -16vmin 0 #fff , 4vmin -21vmin 0 #fff , -20vmin 37vmin 0 #fff , -39vmin 32vmin 0 #fff , -7vmin 33vmin 0 #fff;
}
body span:nth-of-type(9) {
  animation: stars 2s infinite linear 8s;
  box-shadow: 39vmin -40vmin 0 #fff , 30vmin -40vmin 0 #fff , -32vmin -33vmin 0 #fff , 49vmin -23vmin 0 #fff , -41vmin -20vmin 0 #fff , 34vmin -11vmin 0 #fff , -42vmin 10vmin 0 #fff;
}
body span:nth-of-type(10) {
  animation: stars 1s infinite linear 9s;
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
}
/*STARS END*/

/*CAROUSEL START*/
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}
body {
  background: #000;
}
.container {
  position: absolute;
  top: 150px;
  left: 0;
  width: 100%;
  height: 400px;
  perspective: 2500px;
}
.carousel {
  position: absolute;
  top: 100px;
  width: 100%;
  height: 200px;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}
.carousel:hover {
  animation-play-state: paused;
}
.carousel img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 250px;
}
.carousel img:nth-child(1) {
  transform: rotateY(0deg) translateZ(420px);
}
.carousel img:nth-child(2) {
  transform: rotateY(45deg) translateZ(420px);
}
.carousel img:nth-child(3) {
  transform: rotateY(90deg) translateZ(420px);
}
.carousel img:nth-child(4) {
  transform: rotateY(135deg) translateZ(420px);
}
.carousel img:nth-child(5) {
  transform: rotateY(180deg) translateZ(420px);
}
.carousel img:nth-child(6) {
  transform: rotateY(225deg) translateZ(420px);
}
.carousel img:nth-child(7) {
  transform: rotateY(270deg) translateZ(420px);
}
.carousel img:nth-child(8) {
  transform: rotateY(315deg) translateZ(420px);
}
@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

/*CAROUSEL END*/

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;

  height: 8vw;
  margin-top: 10vw;
}

.copyright p {
  font-family: "FuturaBookC", Helvetica, Arial;
  position: absolute;
  width: 402px;
  height: 49px;
  left: 48px;
  top: 628px;
  font-weight: 500;
  font-size: 25px;
  line-height: 27px;

}

.inst img {
  position: absolute;
  width: 60px;
  height: 59px;
  left: 1242px;
  top: 619px;
}

.vk img {
  position: absolute;
  width: 47px;
  height: 44px;
  left: 1298px;
  top: 626px;
}

.facebook img {
  position: absolute;
  width: 47px;
  height: 44px;
  left: 1349px;
  top: 626px;
}

@media (min-width: 1920px) {
  .copyright p {
    top: 943px;
  }
  .adress {
    left: 1648px;
  }
  .facebook img {
    top: 944px;
    left: 1810px;
  }
  .day {
    left: 1673px;
  }
  .vk img {
    top: 943px;
    left: 1759px;
  }
  .inst img {
    top: 938px;
    left: 1703px;
  }

}

@media (min-width: 1366px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .copyright p {
    top: 729px;
  }
  .inst img {
    top: 718px;
  }
  .vk img {
    top: 726px;
  }
  .facebook img {
    top: 726px;
  }
}

@media (min-width: 1680px) {
  .adress {
    left: 1467px;
  }
  .day {
    left: 1490px;
  }
  .facebook img {
    left: 1604px;
  }
  .vk img {
    left: 1552px;
  }
  .inst img {
    left: 1498px;
  }
}

@media (min-width: 1280px) {
  .container {
    display: flex;
    justify-content: center;
  }
  .copyright p {
    top: 785px;
  }
  .facebook img {
    top: 777px;
  }
  .vk img {
    top: 777px;
  }
  .inst img {
    top: 770px;
  }
}
