@import "reset.css";
@import url(https://fonts.googleapis.com/css?family=Quattrocento+Sans);
.logo {
  width: 170px;
  left: 46px;
  align-self: flex-start;
  position: absolute;
  z-index: 5;
}
.day {
  width: 159px;
  height: 21px;
  left: 1240px;
  top: 20px;
  font-size: 24px;
  line-height: 24px;
}
.adress {
  font-weight: 300;
  font-size: 16px;
  line-height: 130%;
  letter-spacing: 0.04em;
  width: 159px;
  height: 21px;

}


/*STARS START*/
@-webkit-keyframes stars {
  50% {
    opacity: 1;
  }
  100% {
    transform: translate3d(0vmin, 0vmin, 1000vmin) scale(5);
    opacity: 0;
  }
}
html, body {
  width: 100%;
  height: 100%;
}

body {
  perspective: 200vmin;
  perspective-origin: 50% 50%;
  background: #000;
  overflow: hidden;
}
body span {
  width: .5vmin;
  height: .5vmin;
  position: absolute;
  top: 50vh;
  left: 50vw;
  transform: translate3d(0vmin, 0vmin, -5000vmin) scale(5);
  opacity: 0;
}
body span:nth-of-type(1) {
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
  animation: stars 10s infinite linear;
}
body span:nth-of-type(2) {
  animation: stars 9s infinite linear 1s;
  box-shadow: 39vmin -40vmin 0 #fff , 30vmin -40vmin 0 #fff , -32vmin -33vmin 0 #fff , 49vmin -23vmin 0 #fff , -41vmin -20vmin 0 #fff , 34vmin -11vmin 0 #fff , -42vmin 10vmin 0 #fff;
}
body span:nth-of-type(3) {
  animation: stars 8s infinite linear 2s;
  box-shadow: -42vmin 5vmin 0 #fff , 16vmin -14vmin 0 #fff , 47vmin -41vmin 0 #fff , 17vmin 8vmin 0 #fff , 10vmin -15vmin 0 #fff , -46vmin -16vmin 0 #fff , 4vmin -21vmin 0 #fff , -20vmin 37vmin 0 #fff , -39vmin 32vmin 0 #fff , -7vmin 33vmin 0 #fff;
}
body span:nth-of-type(4) {
  animation: stars 7s infinite linear 3s;
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
}
body span:nth-of-type(5) {
  animation: stars 6s infinite linear 4s;
  box-shadow: 39vmin -40vmin 0 #fff , 30vmin -40vmin 0 #fff , -32vmin -33vmin 0 #fff , 49vmin -23vmin 0 #fff , -41vmin -20vmin 0 #fff , 34vmin -11vmin 0 #fff , -42vmin 10vmin 0 #fff;
}
body span:nth-of-type(6) {
  animation: stars 5s infinite linear 5s;
  box-shadow: -42vmin 5vmin 0 #fff , 16vmin -14vmin 0 #fff , 47vmin -41vmin 0 #fff , 17vmin 8vmin 0 #fff , 10vmin -15vmin 0 #fff , -46vmin -16vmin 0 #fff , 4vmin -21vmin 0 #fff , -20vmin 37vmin 0 #fff , -39vmin 32vmin 0 #fff , -7vmin 33vmin 0 #fff;
}
body span:nth-of-type(7) {
  animation: stars 4s infinite linear 6s;
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
}
body span:nth-of-type(8) {
  animation: stars 3s infinite linear 7s;
  box-shadow: -42vmin 5vmin 0 #fff , 16vmin -14vmin 0 #fff , 47vmin -41vmin 0 #fff , 17vmin 8vmin 0 #fff , 10vmin -15vmin 0 #fff , -46vmin -16vmin 0 #fff , 4vmin -21vmin 0 #fff , -20vmin 37vmin 0 #fff , -39vmin 32vmin 0 #fff , -7vmin 33vmin 0 #fff;
}
body span:nth-of-type(9) {
  animation: stars 2s infinite linear 8s;
  box-shadow: 39vmin -40vmin 0 #fff , 30vmin -40vmin 0 #fff , -32vmin -33vmin 0 #fff , 49vmin -23vmin 0 #fff , -41vmin -20vmin 0 #fff , 34vmin -11vmin 0 #fff , -42vmin 10vmin 0 #fff;
}
body span:nth-of-type(10) {
  animation: stars 1s infinite linear 9s;
  box-shadow: -45vmin 27vmin 0 #fff , 39vmin -5vmin 0 #fff , -39vmin -6vmin 0 #fff , -35vmin -30vmin 0 #fff , 31vmin 14vmin 0 #fff;
}
/*STARS END*/

/*CAROUSEL START*/
body {
  background: black;
  overflow: hidden;
}


p {
  color: white;
  top: 300px;
  position: absolute;
  width: 700px;
  height: 100px;
  left: -240px;
  text-align: center;
  font-family: Anonymous Pro;
  font-style: normal;
  font-weight: normal;
  font-size: 34px;
  line-height: 50px;
}

.container {
  margin: 4% auto;
  width: 210px;
  height: 140px;
  position: relative;
  top: 10px;
  perspective: 1000px;
}

#carousel {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  animation: rotation 20s infinite linear;
}
#carousel .one {
  background: url("https://thumbnailer.mixcloud.com/unsafe/300x300/extaudio/e/c/c/5/41af-f4e7-428b-999a-eb265c774611") no-repeat center center;
  background-size: cover;
}
#carousel .two {
  background: url("http://pm1.narvii.com/7297/86374ee688e7e3bbff4469d17e5a09bf415cee08r1-564-994v2_uhq.jpg") no-repeat center center;
  background-size: cover;
}
#carousel .three {
  background: url("https://assets.audiomack.com/menao/c7e246674b37659df51b5ead43b18a8f.jpeg?width=1000&amp;height=1000&amp;max=true") no-repeat center center;
  background-size: cover;
}
#carousel .four {
  background: url("https://i.pinimg.com/736x/92/60/98/92609834262f72e33403ea0d0aaec71f.jpg") no-repeat center center;
  background-size: cover;
}
#carousel .five {
  background: url("https://i.pinimg.com/736x/1c/2e/0d/1c2e0d5e4151b1215c231ac1150503e8.jpg") no-repeat center center;
  background-size: cover;
}
#carousel .six {
  background: url("https://i.pinimg.com/736x/18/5c/68/185c6850fca4f2eb440e919ea8394794.jpg") no-repeat center center;
  background-size: cover;
}
#carousel .seven {
  background: url("https://i.pinimg.com/originals/c8/1c/07/c81c075aa0c670a25180e22516513a60.jpg") no-repeat center center;
  background-size: cover;
}
#carousel .eight {
  background: url("https://i.pinimg.com/236x/96/e9/f6/96e9f6068c241ebae052ce327dcfd921.jpg") no-repeat center center;
  background-size: cover;
}
#carousel .nine {
  background: url("https://i.pinimg.com/736x/a0/76/81/a07681bbeac98b405d6c47eaa730fe2f--art-optical-optical-illusions.jpg") no-repeat center center;
  background-size: cover;
}

#carousel:hover {
  animation-play-state: paused;
}

#carousel figure {
  display: block;
  position: absolute;
  width: 200px;
  height: 150px;
  left: 10px;
  top: 10px;
  background: white;
  overflow: hidden;
  border: solid 5px black;
}

#carousel figure:nth-child(1) {
  transform: rotateY(0deg) translateZ(288px);
}

#carousel figure:nth-child(2) {
  transform: rotateY(40deg) translateZ(288px);
}

#carousel figure:nth-child(3) {
  transform: rotateY(80deg) translateZ(288px);
}

#carousel figure:nth-child(4) {
  transform: rotateY(120deg) translateZ(288px);
}

#carousel figure:nth-child(5) {
  transform: rotateY(160deg) translateZ(288px);
}

#carousel figure:nth-child(6) {
  transform: rotateY(200deg) translateZ(288px);
}

#carousel figure:nth-child(7) {
  transform: rotateY(240deg) translateZ(288px);
}

#carousel figure:nth-child(8) {
  transform: rotateY(280deg) translateZ(288px);
}

#carousel figure:nth-child(9) {
  transform: rotateY(320deg) translateZ(288px);
}

img {
  cursor: pointer;
  transition: all .5s ease;
}

@keyframes rotation {
  from {
    transform: rotateY(0deg);
  }
  to {
    transform: rotateY(360deg);
  }
}

@media
/*CAROUSEL END*/
